@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-text: #ffffff;
    --color-article-background: #334A5E;
    --border-color: rgba(255, 255, 255, 0.429);
    --background-color: #1D2A35;
    --hover-scale: 1.1;
    --transition-duration: 0.5s;
}

main {
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
    color: var(--color-text);
}

.bars {
    margin-bottom: 3px;
}

.img_bar {
    max-width: 50%;
    min-width: 350px;
    height: auto;
    border-radius: 10px;

    @media screen and (max-width: 600px) {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 20px;
    }
}

.mise_en_avant,
.roti,
.caille,
.perchoir {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-article-background);
    border-radius: 10px;
    border: inset 2px var(--border-color);
    width: 33%;
    margin: 2rem auto;

    &:hover {
        transition: ease-in-out var(--transition-duration);
        transform: scale(var(--hover-scale));
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 48px;
        &:hover { 
        transition: none;
        transform: none;
    }
}
}

.mise_en_avant {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.img_bar2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.div2, .div3, .div5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    margin: auto;

    h3 {
        margin-bottom: 1rem;
    }

    p {
        margin: 0.5rem 0;
        display: none;

        @media screen and (max-width: 600px) {
            display: block;
        }
    }

    h4 {
        margin-top: 1rem;
    }
    button {
        margin: 1rem 0;
    }
}

.div4 {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 3px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}