/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Georgian:wght@100..900&family=Roboto&display=swap'); */
html, body{
    box-sizing: border-box;
    background-color:var(--bgc-f);
    height:100vh;
    width: 100%;
    margin: 0;
    padding:0 ;

}

:root{
    --bgc-f:#1D2A35;
    --bgc-block:#334A5E;
    --font-family-h:"Noto Serif Georgian", serif;
    --font-family-p:"Montserrat", sans-serif;
}
/* 
body{
    background-color:var(--bgc-f);
    height:100vh;
    width: 100%;
} */

header{
    background-image:url(./images/bgi.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position:center; */
    /* background-attachment: fixed; */

    height: 370px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-start ;
    align-items:center;
    h1{
        /* background-color: #fff; */
        border-radius: 5px;
        backdrop-filter: blur(30px);
        opacity: 80%;
        font-family:var(--font-family-p);
        padding-bottom: 10px;
        
    }
}

main{
    width: 80%;
    margin: 0 auto;
    /* ma grille */
    .my-grid{
        display: grid;
        /* grid-template-columns: 250px 250px 250px ; */
        grid-template-rows: 25px auto auto 25px auto auto;
        gap: 1.5rem;

        .title1{
            grid-row:1;
        }
        .grid-one{
            /* grid-column: span 3; */
            grid-row:2;
            background-color: var(--bgc-block);
        }
        .grid-two{
            grid-row:3;
            background-color: var(--bgc-block);
        }
        .title2{
            grid-row: 4;
        }
        .gri-thris{
            grid-row: 5;
        }
        .grid-four{
            grid-row: 5;
        }
    }
}

/* mes titres */
h2{
    color: #fff;
    font-family: var(--font-family-h);
}
/* ma premiere section */
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--bgc-block);
    border-radius: 10px;
    padding:10px 10px;
    min-height: 300px;
    width:100%;
    box-sizing: border-box;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-family: var(--font-family-p);
        width: 60%;
    }
    p{
        color: #fff;
        font-size: 0.9rem;
    }
    img{
        width: 20rem;
        height: 15rem;
        border-radius: 10px;
        
    }
}





